<h1 style="text-align: center">
<div style="color: #DD3403; font-size: 60%">Data Science DISCOVERY MicroProject</div>
<span style="">MicroProject: Building a Scene Recognition Model form Video Frames</span>
<div style="font-size: 60%;"><a href="https://discovery.cs.illinois.edu/microproject/video-frame-scene-recognition-model/">https://discovery.cs.illinois.edu/microproject/video-frame-scene-recognition-model/</a></div>
</h1>

<hr style="color: #DD3403;">

## Data Source: Frames of a Video

Visual images are an important part of all media and Data Scientists are often using images as data sources.  In this MicroProject, you will create a simple model to detect the amount of time spent in two different "scenes" we used when creating office-hour style videos for Data Science DISCOVERY.

*This MicroProject was inspired by a podcast that we recently recorded with the team from the Center for Innovation in Teaching and Learning who helped produce our video.  To learn the background and hear from Karle and Wade about the journey of creating DISCOVERY, go over and listen to our episode on the "Teach Talk Listen Learn Podcast" where talk with TTLL host Bob Dignan and our CITL video producer Eric Schumacher: https://citl.illinois.edu/citl-101/teaching-learning/teach-talk-listen-learn*

### Loading a Video Frame

We have provided you with one frame every second from our video [*"Outliers Impact on Correlation (m6-02b)"*](https://www.youtube.com/watch?v=bd6hQ2UcIJc) that is used as part of our [DISCOVERY lecture covering Correlation](https://discovery.cs.illinois.edu/learn/Towards-Machine-Learning/Correlation/).

The `skimage` library is commonly used to load image data into Python.  Specifically:

- `skimage.io.imread(filename)` will read a filename and return the pixel color for every pixel in the image.
- To use the `imread` function, you will need to either do one of the following:

    1. Either import all of `sklearn` by using the import line `import sklearn`.  After importing all of `sklearn`, you will call the function using it's fully qualified name: `skimage.io.imread(filename)`.
    
    **OR**
    
    2. Import only the `imread` function by using the import line `from sklearn.io import imread`.  After importing only `imread`, you will call the function directly: `imread(filename)`

#### Read Pixel Data for `frames/frame_0001.jpg`

We have provided a `frames` directory with all of the frames.  In the following cell, store the pixel color data from the file named `frames/frame_0001.png` image in the variable `pixels` by using the `imread` function:

In [3]:
from skimage import io
pixels=io.imread('frames/frame_0001.jpg')

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [4]:
### TEST CASE for Reading Video Frames
tada = "\N{PARTY POPPER}"

assert("pixels" in vars())
assert(pixels.shape == (360, 640, 3))
assert(pixels[0][0][0] == 91)

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Part 1: Storing Average Pixel Color

The **shape** of your data is the `rows` by `columns` by `color values` as 3-dimensional list.  Here's a formatted view of your `pixels` data:

```
[
  [ [91, 83, 80], [91, 83, 80], [91, 83, 80] ], ... ],   # Row #1
  [ [91, 83, 80], [91, 83, 80], [91, 83, 80] ], ... ],   # Row #2
  ...                                                    # ...
]
```

The current shape of `pixels` is 360 rows by 640 columns by 3 colors.  Each of the three colors represent the three color channels on a screen: red, green, and blue.

Using `pixel.mean()`, we find the average color grouping **ALL** the color channels (combining blues and reds and greens together).  Try it out:

In [5]:
pixels.mean()

72.18011863425926

In [6]:
pixels = pixels.reshape(-1, 3)
pixels

array([[ 91,  83,  80],
       [ 91,  83,  80],
       [ 91,  83,  80],
       ...,
       [162, 131, 110],
       [162, 131, 110],
       [162, 131, 110]], dtype=uint8)

To find the average of each color channel, the `pixels.resize(-1, 3).mean(axis=0)` function will find the mean of everything **except** the color channels.  Check out the new mean:

In [7]:
pixels.mean(axis=0)

array([88.65917535, 67.45620226, 60.4249783 ])

### Puzzle 1.1: Finding the Average Color of One Image

Store `pixel`'s average red value in `r`, average green value in `g`, and average blue value in `b`:

In [10]:
r=pixels.mean(axis=0)[0]
g=pixels.mean(axis=0)[1]
b=pixels.mean(axis=0)[2]

In [11]:
### TEST CASE for Puzzle 1.1: Finding the Average Color of One Image
tada = "\N{PARTY POPPER}"

import math
assert("r" in vars())
assert("g" in vars())
assert("b" in vars())
assert(math.isclose(r, 88.65917534722222))
assert(math.isclose(g, 67.45620225694445))
assert(math.isclose(b, 60.42497829861111))

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

### Puzzle 1.2: Finding the Average Color of All Images

The following code loops through every file in the `frames` directory -- this will include `frame_0001.jpg` (like you analyzed already) and also `frame_0002.jpg`, `frame_0003.jpg`, and all 300+ frames!

Create a DataFrame where each row is one frame with the following four columns:
- `frame`, the filename of the frame
- `r`, the average red color of the frame
- `g`, the average green color of the frame
- `b`, the average blue color of the frame

The structure of the code should be nearly identical to writing a simulation.  Instead of creating random variables for your real world data, your real world data will be the filename, and the average color values.

- See: https://discovery.cs.illinois.edu/learn/Simulation-and-Distributions/Simple-Simulations-in-Python/

In [13]:
import glob
import os
import pandas as pd

data = []
for frame in glob.glob(os.path.join("frames", "*.jpg")): 
  # `frame`` contains the filename of the frame (ex: "frames/frame_0001.jpg").  Use it for `imread` to read the frame image data.
      pixels=io.imread(frame)
      pixels = pixels.reshape(-1, 3)
      r=pixels.mean(axis=0)[0]
      g=pixels.mean(axis=0)[1]
      b=pixels.mean(axis=0)[2]
      data.append([frame, r,g,b])
    

df = pd.DataFrame(data, columns = ['frame', 'r','g','b'])

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [15]:
### TEST CASE for Puzzle 1.2: Finding the Average Color of All Images
tada = "\N{PARTY POPPER}"

import math
assert("df" in vars())
assert(len(df) == 330)
assert("r" in df)
assert("g" in df)
assert("b" in df)
assert("frame" in df)
assert( abs( df[ df.frame.str.endswith("_0001.jpg") ]["r"].sum() - 88 ) < 1 )

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Part 2: Create a Simple Classifier

In the DISCOVERY lecture videos, there are two primary "scenes" in the video:

1. **"Office Hours Studio Scene"**, where Karle and Wade are talking to each other and the audience,

2. **"Notebook Scene"**, where the notebook is displayed

View the `frames` folder on your computer and find **at least three more frames** that are in the "office hours studio scene" and **at least three more frames** that are in the "notebook scene".  Add the frames you found to the list below:

In [70]:
# List of at least four office hour frames by the filename's frame number:
office_hour_frames = [1,19, 24,29, 134, 9, 131, 216, 218, 295]

# List of at least four notebook frames by the filename's frame number:
notebook_frames = [30,149, 160, 233, 176, 273, 292, 281, 152, 280]

# List of at least other  by the filename's frame number:
other_frames = [10, 11, 6, 7, 8, 316, 320,  317, 325, 330]

### Observing the Average Colors of Your Frames

The following code uses your sample frames to display the average color values for your selected frames:

In [71]:
print("== Office Hour Frames ==")
print( df[ df["frame"].isin( [f"frames\\frame_{frame:04d}.jpg" for frame in office_hour_frames] ) ] )
print()
print("== Notebook Frames ==")
print( df[ df["frame"].isin( [f"frames\\frame_{frame:04d}.jpg" for frame in notebook_frames] ) ] )
print()
print("== Other Frames ==")
print( df[ df["frame"].isin( [f"frames\\frame_{frame:04d}.jpg" for frame in other_frames] ) ] )

== Office Hour Frames ==
                     frame          r          g          b        scene
0    frames\frame_0001.jpg  88.659175  67.456202  60.424978  office hour
8    frames\frame_0009.jpg  88.963446  66.552773  59.458294  office hour
18   frames\frame_0019.jpg  88.007270  67.002426  59.679549  office hour
23   frames\frame_0024.jpg  88.317817  66.974431  60.013902  office hour
28   frames\frame_0029.jpg  88.199457  67.881858  59.730273  office hour
130  frames\frame_0131.jpg  87.195417  67.500395  60.347313  office hour
133  frames\frame_0134.jpg  87.368220  67.516016  60.368550  office hour
215  frames\frame_0216.jpg  87.775230  66.814054  61.303611  office hour
217  frames\frame_0218.jpg  87.760777  66.614562  61.063212  office hour
294  frames\frame_0295.jpg  90.011541  70.339766  63.319740  office hour

== Notebook Frames ==
                     frame           r           g           b     scene
29   frames\frame_0030.jpg  237.225595  236.513451  236.777122  notebook
148  frames\frame_0149.jpg  230.297105  229.384944  227.075169  notebook
151  frames\frame_0152.jpg  230.107843  229.233264  226.932895  notebook
159  frames\frame_0160.jpg  229.865751  228.984874  226.680786  notebook
175  frames\frame_0176.jpg  230.715573  229.704852  227.453576  notebook
232  frames\frame_0233.jpg  244.653845  244.020039  242.136675  notebook
272  frames\frame_0273.jpg  243.548924  242.609227  241.175135  notebook
279  frames\frame_0280.jpg  243.225564  242.176402  240.907209  notebook
280  frames\frame_0281.jpg  243.228594  242.192652  240.914119  notebook
291  frames\frame_0292.jpg  242.185347  241.019353  239.721671  notebook

== Other Frames ==
                     frame           r          g          b        scene
5    frames\frame_0006.jpg  181.087739  52.186936  37.745208        other
6    frames\frame_0007.jpg  180.672951  52.104644  37.659015        other
7    frames\frame_0008.jpg  180.616185  52.125681  37.592253        other
9    frames\frame_0010.jpg  108.020807  53.174227  44.903989  office hour
10   frames\frame_0011.jpg  106.510043  53.178854  44.992795  office hour
315  frames\frame_0316.jpg  227.706259  67.024722  48.608728        other
316  frames\frame_0317.jpg  233.539870  66.995486  47.766740        other
319  frames\frame_0320.jpg  221.227565  71.838433  54.457305        other
324  frames\frame_0325.jpg    0.025247   0.030256   0.038095  office hour
329  frames\frame_0330.jpg    4.657478   4.658776   4.665082  office hour

In [58]:
office=df[ df["frame"].isin( [f"frames\\frame_{frame:04d}.jpg" for frame in office_hour_frames] ) ]
notebook=df[ df["frame"].isin( [f"frames\\frame_{frame:04d}.jpg" for frame in notebook_frames] ) ]
other=df[ df["frame"].isin( [f"frames\\frame_{frame:04d}.jpg" for frame in other_frames] ) ]
print(office['r'].mean())
print(office['g'].mean())
print(office['b'].mean())
print("--------")
print(notebook['r'].mean())
print(notebook['g'].mean())
print(notebook['b'].mean())
print("--------")
print(other['r'].mean())
print(other['g'].mean())
print(other['b'].mean())

88.22583506944444
67.46524826388888
60.57094227430555
--------
237.5054140625
236.58390581597223
234.97743576388885
--------
205.686767578125
60.76374565972222
43.452794053819446

### Create Your Classifier Function

A **classifier function** is a function that takes data and gives a classification for that data.  Create a new function, `classifyFrame` that receives an `r`, `g`, and `b` value.

Using information from your frames above, have the function return the string `"office hour"` or `"notebook"` based on the values of `r`, `g`, and `b`.

**IMPORTANT**: Make sure your classifier can handle **ANY** input -- even frames you have not seen before!  For example, you might decide that you will call a frame an `"office hour"` frame if the sum of `r`, `g` and `b` is greater than 100 and otherwise it's a `"notebook"` scene.

In [50]:
def classifyFrame(r, g, b):
  # Return either "office hour" or "notebook" based on the values of `r`, `g`, and `b`.
  if ( r > 200 and g > 200 and b > 200):
        return "notebook"
  else:
        return "office hour"

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [51]:
### TEST CASE for Part 2: Create a Simple Classifier
tada = "\N{PARTY POPPER}"

r = classifyFrame(0, 0, 0)
assert(r == "notebook" or r == "office hour")

r = classifyFrame(255, 255, 255)
assert(r == "notebook" or r == "office hour")

r = classifyFrame(0, 255, 255)
assert(r == "notebook" or r == "office hour")

r = classifyFrame(255, 255, 0)
assert(r == "notebook" or r == "office hour")

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Part 3: Using Your Classifier!

Now that we have a classifier, we should run it on every frame!

The following cell runs your `classifyFrame` classifier on every frame and adds a new column `scene` and displayed 20 random rows:

In [52]:
df["scene"] = df.apply(lambda row: classifyFrame(row.r, row.g, row.b), axis=1)
df.sample(20)

                     frame           r           g           b        scene
29   frames\frame_0030.jpg  237.225595  236.513451  236.777122     notebook
183  frames\frame_0184.jpg  233.223394  232.456758  230.245530     notebook
254  frames\frame_0255.jpg  244.267148  243.503863  241.830851     notebook
236  frames\frame_0237.jpg  244.377049  243.657613  241.884232     notebook
175  frames\frame_0176.jpg  230.715573  229.704852  227.453576     notebook
58   frames\frame_0059.jpg  230.963220  230.446649  230.651185     notebook
17   frames\frame_0018.jpg   90.887626   65.819722   58.584336  office hour
120  frames\frame_0121.jpg   88.022283   67.923095   60.419401  office hour
184  frames\frame_0185.jpg  233.223641  232.456962  230.245742     notebook
176  frames\frame_0177.jpg  232.536536  231.750833  229.737899     notebook
287  frames\frame_0288.jpg  243.149679  242.105560  240.869227     notebook
293  frames\frame_0294.jpg   89.544384   70.404570   62.928372  office hour
257  frames\frame_0258.jpg  243.963160  243.130226  241.545473     notebook
326  frames\frame_0327.jpg    7.469779    7.472743    7.478576  office hour
211  frames\frame_0212.jpg  238.534297  237.856402  235.515777     notebook
252  frames\frame_0253.jpg  244.162209  243.396094  241.746962     notebook
122  frames\frame_0123.jpg   87.842101   68.025486   60.567513  office hour
26   frames\frame_0027.jpg   87.985855   67.887504   59.760056  office hour
110  frames\frame_0111.jpg  230.547170  229.876050  227.369436     notebook
206  frames\frame_0207.jpg  238.582687  237.834761  235.548589     notebook

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [53]:
### TEST CASE for Part 3: Using Your Classifier
tada = "\N{PARTY POPPER}"

assert("scene" in df)

assert(len(df[ df.scene == "notebook" ]) > 100)
assert(len(df[ df.scene == "office hour" ]) > 75)
assert(len(df[ df.scene == "notebook" ]) + len(df[ df.scene == "office hour" ]) == len(df))

assert( len( df[ (df.frame.str.endswith("0001.jpg")) & (df.scene == "office hour") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0306.jpg")) & (df.scene == "office hour") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0081.jpg")) & (df.scene == "notebook") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0191.jpg")) & (df.scene == "notebook") ] ) == 1 )

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

## Observing Results

In the next 5 cells, we display a frame and you'll run code to check what your classifier classified the frame as being!  Make sure to run the code for each frame:

### Frame #0001: Office Hours

In [27]:
df[ df.frame.str.endswith("0001.jpg") ]

                   frame          r          g          b        scene
0  frames\frame_0001.jpg  88.659175  67.456202  60.424978  office hour

![Frame 0001](frames/frame_0001.jpg)

### Frame #0081: Notebook

In [28]:
df[ df.frame.str.endswith("0081.jpg") ]

                    frame           r           g          b     scene
80  frames\frame_0081.jpg  230.721385  229.915091  230.48303  notebook

![Frame 0001](frames/frame_0081.jpg)

### Frame #0191: Notebook

In [29]:
df[ df.frame.str.endswith("0191.jpg") ]

                     frame           r           g           b     scene
190  frames\frame_0191.jpg  233.117088  232.354644  230.103359  notebook

![Frame 0001](frames/frame_0191.jpg)

### Frame #0306: Office Hours

In [30]:
df[ df.frame.str.endswith("0306.jpg") ]

                     frame          r          g         b        scene
305  frames\frame_0306.jpg  89.403867  70.149223  62.83901  office hour

![Frame 0001](frames/frame_0306.jpg)

### Frame #0320: Data Science Duo Logo???

What did you classify the DUO logo as?  It's nether one, but we don't have that option!

In [31]:
df[ df.frame.str.endswith("0320.jpg") ]

                     frame           r          g          b        scene
319  frames\frame_0320.jpg  221.227565  71.838433  54.457305  office hour

![Frame 0001](frames/frame_0320.jpg)

### Frame #328: Video Credits

What did you classify the DUO logo as?  It's another tricky one!

In [39]:
df[ df.frame.str.endswith("0328.jpg") ]

                     frame         r         g         b  scene
327  frames\frame_0328.jpg  7.480234  7.481519  7.487826  other

![Frame 0328](frames/frame_0328.jpg)

<hr style="color: #DD3403;">

## Part 4: Update Your Classifier to Account with an "Other" Category

Create a second classifier -- `classifyFrame2` -- that returns either `"notebook"`, `"office hour"` or `"other"`.  Your classifier should correctly handle the "Data Science Duo" (ex: #0320) frames and the "Credit" frames (ex: #0328).

In [81]:
def classifyFrame2(r, g, b):
  # Return either "office hour" or "notebook" based on the values of `r`, `g`, and `b`.
  if ( r > 200 and g > 200 and b > 200):
        return "notebook"
  elif ( r < 10 and g < 10 and b < 10):
        return "other"
  elif ( r < 120 and g < 80 and b < 70 ):
        return "office hour"
  else:
        return "other"

## Apply your `classifyFrame2` function

Using `classifyFrame2`, this code replaces the value in the column `scene` with your `classifyFrame2` classification function.  The output of this cell shows the last frames of the video, which we expect to be `"other"`:

In [83]:
df["scene"] = df.apply(lambda row: classifyFrame2(row.r, row.g, row.b), axis=1)
df.head(10)

                   frame           r          g          b        scene
0  frames\frame_0001.jpg   88.659175  67.456202  60.424978  office hour
1  frames\frame_0002.jpg   88.697865  67.453529  60.475660  office hour
2  frames\frame_0003.jpg   88.028351  66.913845  60.064592  office hour
3  frames\frame_0004.jpg   88.825629  67.340347  60.491645  office hour
4  frames\frame_0005.jpg   88.211714  66.979661  59.983173  office hour
5  frames\frame_0006.jpg  181.087739  52.186936  37.745208        other
6  frames\frame_0007.jpg  180.672951  52.104644  37.659015        other
7  frames\frame_0008.jpg  180.616185  52.125681  37.592253        other
8  frames\frame_0009.jpg   88.963446  66.552773  59.458294  office hour
9  frames\frame_0010.jpg  108.020807  53.174227  44.903989  office hour

### ðŸ”¬ Checkpoint Tests ðŸ”¬

In [84]:
### TEST CASE for Part 4: Update Your Classifier to Account with an Other Category
tada = "\N{PARTY POPPER}"

assert("scene" in df)

assert(len(df[ df.scene == "notebook" ]) > 100)
assert(len(df[ df.scene == "office hour" ]) > 75)
assert(len(df[ df.scene == "other" ]) >= 15)
assert(len(df[ df.scene == "other" ]) <= 18)   # Okay to classify the intro screens as well, but not any others.
assert(len(df[ df.scene == "notebook" ]) + len(df[ df.scene == "office hour" ]) + len(df[ df.scene == "other" ]) == len(df))

assert( len( df[ (df.frame.str.endswith("0001.jpg")) & (df.scene == "office hour") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0306.jpg")) & (df.scene == "office hour") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0081.jpg")) & (df.scene == "notebook") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0191.jpg")) & (df.scene == "notebook") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0317.jpg")) & (df.scene == "other") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0325.jpg")) & (df.scene == "other") ] ) == 1 )
assert( len( df[ (df.frame.str.endswith("0328.jpg")) & (df.scene == "other") ] ) == 1 )

print(f"{tada} All Tests Passed! {tada}")

ðŸŽ‰ All Tests Passed! ðŸŽ‰

<hr style="color: #DD3403;">

## Submission

You're almost done!  All you need to do is to commit your lab to GitHub and run the GitHub Actions Grader:

1.  âš ï¸ **Make certain to save your work.** âš ï¸ To do this, go to **File => Save All**

2.  After you have saved, exit this notebook and return to https://discovery.cs.illinois.edu/microproject/video-frame-scene-recognition-model/ and complete the section **"Commit and Grade Your Notebook"**.

3. If you see a 100% grade result on your GitHub Action, you've completed this MicroProject! ðŸŽ‰